* {
  box-sizing: border-box;
  margin: 0;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid black;

  grid-row: 2/6;

  grid-column: 4/10;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

button {
  font-size: 2em;
  color: black;
  background-color: white;
}
.msg {
  font-size: 1.5em;
  position: absolute;
  left: 45%;
  top: 10%;
}
